[core]
	autocrlf = false
[user]
	name = "Esoteric Enderman"
	email = "esotericenderman@gmail.com"
	signingkey = 538675F8CD3D846C
[credential "https://www.github.com"]
	provider = github
[safe]
	directory = *
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
