[core]
	editor = \"C:\\Users\\d\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
	autocrlf = false
[user]
	name = "Esoteric Enderman"
	email = "90862990+EsotericEnderman@users.noreply.github.com"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[filter "obsidian-graph-scale-ignore"]
	clean = sed /"scale"/d
	smudge = cat
[credential "https://www.github.com"]
	provider = github
[safe]
	directory = *
